<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
	<key>OpenAI-API-Key</key>
	<string>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</string>
</dict>
</plist>
